<!DOCTYPE html>
<html>
    <head>
        <title>Create</title>
    </head>
    <body>
        <h1>Create</h1>
        <form action="/create" method="post">
            <label for="URL">URL:</label>
            <input type="text" id="URL" name="URL"><br><br>
            <label for="Content">Content:</label>
            <textarea id="Content" name="Content"></textarea><br><br>
            <label for="JSProgram">JSProgram:</label>
            <input type="text" id="JSPorgram" name="JSProgram"><br><br>
            <input type="submit" value="Submit">
        </form>
    </body>
</html>