<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      main{
        margin: 20px;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>History</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
  </head>
  <body>
    <main>
      <!-- Displays the history of the package in a table format -->
      {{if .}}
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">User Name</th>
              <th scope="col">Is Admin</th>
              <th scope="col">Date</th>
              <th scope="col">Package Name</th>
              <th scope="col">Package Version</th>
              <th scope="col">Package ID</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {{range .}}
              <tr>
                <td>{{.UserName}}</td>
                <td>{{.UserIsAdmin}}</td>
                <td>{{.Date}}</td>
                <td>{{.PackageName}}</td>
                <td>{{.PackageVersion}}</td>
                <td>{{.PackageID}}</td>
                <td>{{.Action}}</td>
              </tr>
            {{end}}
          </tbody>
        </table>
      {{else}}
        <p>No results found.</p>
      {{end}}
      <!-- Button that takes user back to the history search page -->
      <button class="btn btn-dark" onclick="window.location.href='/history'">Back to search</button>
    </main>
  </body>
</html>