<!DOCTYPE html>
<html>
    <head>
        <title>Package Information</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <style>
            .json-key {
                color: brown;
            }
            .json-string {
                color: olive;
            }
            .json-boolean {
                color: blue;
            }
            .json-indent {
                margin-left: 30px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <h1>Package Information</h1>
            <pre>{
    <div class="json-indent"><span class="json-key">"Metadata"</span>: {</div>
        <div class="json-indent"><div class="json-indent"><span class="json-key">"Name"</span>: <span class="json-string">"{{.metadata.Name}}"</span>,</div></div>
        <div class="json-indent"><div class="json-indent"><span class="json-key">"Version"</span>: <span class="json-string">"{{.metadata.Version}}"</span>,</div></div>
        <div class="json-indent"><div class="json-indent"><span class="json-key">"ID"</span>: <span class="json-string">"{{.metadata.ID}}"</span>,</div></div>
    <div class="json-indent">},</div>
    <div class="json-indent"><span class="json-key">"Data"</span>: {</div>
        <div class="json-indent"><div class="json-indent"><span class="json-key">"Content"</span>: <span class="json-string">"{{.data.Content}}"</span>,</div></div>
        <div class="json-indent"><div class="json-indent"><span class="json-key">"JSProgram"</span>: <span class="json-string">"{{.data.JSProgram}}"</span>,</div></div>
    <div class="json-indent">}</div>
}</pre>
<button class="back-button" onclick="window.location.href='/search'">Back to search</button>
        </div>
    </body>
</html>