.home-container {
    margin: auto;
    width: 80%;
    padding: 20px;
  }
  
  .home-title {
    font-size: 2.5rem;
    text-align: center;
  }
  
  .home-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-top: 40px;
    padding: 0;
  }
  
  .home-nav-item {
    margin: 0 10px;
  }
  
  .home-nav-link {
    color: #444;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 5px;
  }
  
  .home-nav-link:hover {
    background-color: #eee;
  }
  